body {
    background-image: url("../images/greyfloral.png");
    font-family: 'Playfair Display', serif;
}

.container {
    background-color: rgb(209, 250, 209);
    color: black;
    margin-top: 40px;
    padding: 1.5% 2%;
    width: 960px;
    border: 2px solid rgb(165, 235, 165);
}

.startImg {
    width: 400px;
    height: 400px;
    margin-left: 15px;
}

h1, h2, h3, p {
    text-align: center;
    color: #777777;
    padding: 5px;
}

h2, h3 {
    padding: 10px;
    font-weight: bold;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(90, 185, 149);
}

h2 {
    color: rgb(74, 204, 74);
}

p {
    font-size: larger;
}

#icon {
    position: fixed;
    bottom: 0;
    right: 0;
}

.iconImg {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
}